.app-bar-container {
    height: 80px;
    position: relative;
    background-color:  #304ffe ;
}
.app-bar-header {
    position: absolute;
    top: 35px;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-style: 'Roboto';
    color: white;
}